/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #292929;
}

#blueRectangle {
    background: #9BDDFF;
    padding:1%;
}

#welcomeText {
    padding-left: 7%;
    padding-top: 7%;
    padding-bottom: 3%;
    font-size: 140px;
    font-weight: normal;
    color: PowderBlue;
    background: #292929
}

#AboutMeBlurb {
    padding-left: 7%;
    font-size: 60px;
    font-weight: normal;
    color: PowderBlue;
    background: #292929;
}

