/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


#background {
    background-color: aliceblue
}

#firstSection {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgray;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.blueRectangle {
    background: #9BDDFF;
    padding:1%;
}

#Welcome {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-right: 15%;
}
#me {
    border-radius: 50%;
    max-width: 30%;
    max-height: 10%;
    object-fit: cover;
}

#welcomeText {
    width: 100%;
    padding-left: 7%;
    padding-top: 7%;
    padding-bottom: 3%;
    font-size: 140px;
    font-weight: normal;
    color: PowderBlue;
}

#AboutMeBlurb {
    width: 100%;
    padding-left: 7%;
    padding-bottom: 7%;
    font-size: 60px;
    font-weight: normal;
    color: PowderBlue;
    height: 350px;
}

#arrowButton {
    padding-top: 5%;
    padding-left: 45%;
    color: PowderBlue;
    font-size: 50px;
    background:none;
    border:none;

}

#portfolioLinks1 {
    font-size: 30px;
    border:black;
    padding:5%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#ghlf {
    background-image: url("/Images/Screenshot 2025-01-20 at 4.42.06 PM.png");
}

.linkButtons {
    width: 500px;
    height: 300px;
    border-radius: 10%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black;
}

#ghlf:hover {
    background-color: darkgray;
    transition: all 0.9s ease;
    background-image: none;
    font-size: 20px;
    padding: 5%;
    color: white;
    transform: scale(1.1);
}

#run {
    background-image: url("/Images/run.png");
    background-size: contain;
    background-color: white;
}

#run:hover {
    background-color: darkgray;
    transition: all 0.9s ease;
    background-image: none;
    color: white;
    font-size: 20px;
    padding: 5%;
    transform: scale(1.1);
}

#portfolioLinks2 {
    font-size: 30px;
    border:black;
    padding:5%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#tetris {
    background-image: url("/Images/tetris.jpeg");
    background-size:cover;
}

#tetris:hover {
    background-color: darkgray;
    transition: all 0.9s ease;
    background-image: none;
    color: white;
    font-size: 20px;
    padding: 5%;
    transform: scale(1.1);
}

